<ion-header>
  <ion-toolbar>
    <ion-title color="primary">GAP Osmolar Normal</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="aniongapelevado" text="Regresar" color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-padding">GAP Osmolar Normal</h1>
  <h2 class="ion-padding">Intoxicaciones:</h2>
  <ion-list>
    <ion-item>
      Salicilatos
      <ion-img src="/assets/salicilatos.png"></ion-img>
    </ion-item>
    <ion-item>
      Paraldehido
      <ion-img src="/assets/paraldehido.png"></ion-img>
    </ion-item>
  </ion-list>
  <h2 class="ion-padding">Acidosis D-Lactica</h2>

</ion-content>