<ion-header>
  <ion-toolbar>
    <ion-title>aniogapelevado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-padding">Anion GAP Elevado</h1>
  <ion-list>
    <ion-item>
      ¿Hipoxia Tisular? --> Acidosis L-Lactica
    </ion-item>
    <ion-item>
      ¿Cuerpos Cetonicos? --> Cetoacidosis
    </ion-item>
    <ion-item>
      ¿Función Renal? --> Insuficiencia Renal
    </ion-item>
  </ion-list>

  <h2 class="ion-padding">¿GAP Osmolar?</h2>

  <ion-button expand="block" routerLink="/gaposmolarelevado">
    Elevado
  </ion-button>

  <ion-button expand="block" routerLink="/gaposmolarnormal">
    Normal
  </ion-button>

</ion-content>
